# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor & IDE directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build and temporary files
*.log
*.zip
dist/
build/
node_modules/
